#wrapper{

  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  text-align: center;


  input{

   text-align: center;
  }
}
#button-wrapper{
  display: flex;
  justify-content: center;
  padding: 10px;
  button{
    background-color: #3a3a9f;
  }
}
